[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"e1839a8" = {path = ".", editable = true}
pyyaml = "*"
"jinja2" = "*"
requests = "*"
docopt = "*"
pydash = "*"

[requires]
python_version = "3.6"
